---
import logo from "../assets/logos/brandemic-logo.svg";
import footerSmallLogo from "../assets/logos/footer-small-logo.svg";

import twitter from "../assets/icons/twitter.svg";
import facebook from "../assets/icons/facebook.svg";
import youtube from "../assets/icons/youtube.svg";
import instagram from "../assets/icons/instagram.svg";
import behance from "../assets/icons/behance.svg";
import linkedin from "../assets/icons/linkedin.svg";
---

<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <img src={logo.src} alt="Brandemic" class="footer-logo" />
        <nav class="footer-nav">
          <a href="#">Portfolio</a>
          <a href="#">Services</a>
          <a href="#">About Us</a>
          <a href="#">Contact</a>
        </nav>
        <div class="footer-policy">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
        </div>
      </div>

      <div class="footer-right">
        <p class="newsletter-title">
          STAY UP TO DATE
        </p>
        <form class="newsletter-form">
          <input
            type="email"
            placeholder="Subscribe With Email"
          />
          <button type="submit">
            →
          </button>
        </form>
      </div>
    </div>


    <div class="footer-middle">
      <div>
        <p class="footer-email">
          info@brandemic.in
        </p>
      </div>
      <div>
        <p class="footer-connect">
          CONNECT TODAY
        </p>
      </div>
    </div>


    <h2 class="footer-title">
      THINK LIMITLESS
    </h2>
    <div class="footer-divider"></div>


    <div class="footer-bottom">
    <p class="copyright">
        © 2026 Brandemic. All rights reserved.
    </p>
    <div class="made-by">
        <span>Made with passion by</span>
        <img
            src={footerSmallLogo.src}
            alt="Brandemic"
        />
    </div>
    <div class="footer-socials">
        <a href="https://x.com/brandemicglobal">
            <img src={twitter.src} alt="Twitter">
        </a>
        <a href="https://www.facebook.com/brandemic.design#">
            <img src={facebook.src} alt="Facebook">
        </a>
        <a href="https://www.youtube.com/@Brandemic_Design">
            <img src={youtube.src} alt="Youtube">
        </a>
        <a href="https://www.instagram.com/brandemic_design/">
            <img src={instagram.src} alt="Instagram">
        </a>
        <a href="https://www.behance.net/brandemic">
            <img src={behance.src} alt="Behance">
        </a>
        <a href="https://www.linkedin.com/company/brandemic-design/">
            <img src={linkedin.src} alt="LinkedIn">
        </a>
    </div>
</div>
</div>
</footer>