---
import showcase1 from "../assets/images/showcase-1.png";
import showcase2 from "../assets/images/showcase-2.png";
import showcase3 from "../assets/images/showcase-3.png";
import showcase4 from "../assets/images/showcase-4.png";
import backgroundBrandemicRight from "../assets/icons/background-Brandemic-right.svg";
import backgroundBrandemicLeft from "../assets/icons/background-Brandemic-left.svg";
import discoverArrow from "../assets/icons/discover-arrow.svg";

import "../styles/partner-section.css";
---

<section class="partner-section">
    <img
        src={backgroundBrandemicLeft.src}
        alt=""
        class="partner-bg partner-bg-left"
    />
    <img
        src={backgroundBrandemicRight.src}
        alt=""
        class="partner-bg partner-bg-right"
    />
    <div class="container">
        <div class="partner-heading">
            <h2>
                We Are Your Design Partners In Turning
            </h2>
            <span>Ideas Into Magic</span>
        </div>
        <div class="partner-showcase">
            <div class="card-stack">
                <div class="showcase-card active">
                    <img src={showcase1.src} alt="">
                </div>
                <div class="showcase-card">
                    <img src={showcase2.src} alt="">
                </div>
                <div class="showcase-card">
                    <img src={showcase3.src} alt="">
                </div>
                <div class="showcase-card">
                    <img src={showcase4.src} alt="">
                </div>
            </div>
        </div>
            <a href="#" class="partner-btn">
            <span class="partner-circle"></span>
            <span class="partner-text">Get To Know Us</span>
            <img src={discoverArrow.src} alt="" />
        </a>
    </div>
</section>


<script type="module">
  import "../scripts/partner-section.js";
</script>